.button-component {
    display: inline-flex;
    width: 25%;
    flex: 1 0 auto;
  }

  .button-component:hover{
    background-color: #f76c0f;
  }
  
  .button-component.wide {
    width: 50%;
  }
  
  .button-component button {
    background-color: #e0e0e0;
    border: 0;
    font-size: 1.5rem;
    margin: 0 1px 0 0;
    flex: 1 0 auto;
    padding: 0;
  }
  
  .button-component:last-child button {
    margin-right: 0;
  }
  
  .button-component.orange button {
    background-color: #f5923e;
    color: white;
  }